//------------------GLOBAL-STYLES------------------------
//------------------RESET-STYLES-------------------------
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	font-family: 'Roboto-Regular';
	line-height: 150%;
	color: #252525;
}



*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

strong {
	font-weight: bold;
}

input {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.no-overflow {
	overflow: hidden;
}

[class*="__container"] {
	max-width: 1170px;
	margin: 0 auto;
}

//-------------------RESET-STYLES-END-------------------------

//-------------------HEADER-STYLES----------------------------
.header {
	padding: 20px 20px 0;

	&__top {
		display: flex;
		margin-bottom: 25px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}

	&__banner {
		max-width: 250px;
		width: 100%;
		height: 70px;
		background: #E2E2E2;
	}

	&__buy-tools-amd-cards {
		display: flex;
	}

	&__buy-tools {
		margin-right: 35px;

		:not(:last-child) {
			margin-bottom: 5px;
		}
	}



	&__basket,
	&__favorites,
	&__comparison {
		display: flex;
	}

	&__basket-icon,
	&__favorites-icon,
	&__comparison-icon {
		width: 20px;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__basket-text,
	&__favorites-text,
	&__comparison-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: -0.01em;
		text-decoration-line: underline;
		color: #252525;
	}

	&__cards {
		column-gap: 20px;
		display: flex;
	}

	&__card {
		width: 70px;
		height: 70px;
		border: 1px solid #D9D9D9;


		&:nth-child(1) {
			background: url('../images/header_card_1.png');
		}

		&:nth-child(2) {
			background: url('../images/header_card_2.png');
		}

		&:nth-child(3) {
			background: url('../images/header_card_3.png');
		}
	}

	&__contancts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 5px;
	}

	&__sign-in,
	&__registration {
		cursor: pointer;
	}

	&__content {
		width: 100%;
	}

	&__menu-and-authorization {
		border-bottom: 1px solid #D7D7D7;
		display: flex;
		justify-content: space-between;
		padding-bottom: 8px;
		margin-bottom: 20px;
	}

	&__menu {
		display: flex;
	}

	&__menu-hamburger {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: .5s;
		z-index: 2;

	}

	&__menu-hamburger.active {
		display: flex;
		visibility: visible;
		opacity: 1;
	}

	&__hamburger-btn {
		display: none;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 2;
		overflow: hidden;
		cursor: pointer;

		span {
			width: 30px;
			height: 2px;
			position: absolute;
			top: calc(50% - 5px);
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #FFCC00;
			transition: all 0.5s;
			border-bottom: 1px solid #000;
		}

		span:nth-of-type(2) {
			top: calc(50% + 3px);
		}
	}

	&__hamburger-btn.active {

		span {
			transform: rotate(50deg);
			left: 0;
		}

		span:nth-of-type(2) {
			transform: rotate(-50deg);
			top: 25%;
			left: 10%;
		}
	}

	&__menu-link {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		white-space: nowrap;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__authorization {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		display: flex;
		margin-left: auto;
	}

	&__sign-in,
	&__registration {
		padding: 0 15px;
		display: flex;
	}

	&__sign-in-icon,
	&__registration-icon {
		display: none;
	}

	&__sign-in {
		border-right: 1px solid #000;
	}

}

.work-time {
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -0.01em;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;

	span {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: -0.025em;
		margin-left: 10px;
	}
}

.tel {
	font-weight: 700;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: -0.02em;
	white-space: nowrap;
}

.current-city {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -0.01em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		border-bottom: 1px dotted;
		line-height: 1;
		position: relative;
		cursor: pointer;

		&::before {
			position: absolute;
			top: calc(50% - 3.5px);
			left: -10px;
			content: '';
			height: 7px;
			border: 4px solid transparent;
			border-left: 5px solid #252525;
			;
		}
	}
}

.logo-box {
	max-width: 210px;
	width: 100%;
	margin-right: 30px;
	cursor: pointer;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFCC00;
	margin-bottom: 8px;
}

.logo-text {
	font-family: 'Helioscond-Bold';
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
}


.tools-box {
	width: 100%;
	height: 34px;
	background: #252525;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	display: flex;
	justify-content: space-between;

	&__search {
		background: #FFCC00;
		width: 40px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px 0 0 8px;
		cursor: pointer;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__list::-webkit-scrollbar {
		display: none;
	}

	&__link {
		padding: 0 20px;
		color: #fff;
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-size: 14px;
		line-height: 16px;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			background: #FFCC00;
			color: #000;
		}
	}

	&__info {
		text-transform: uppercase;
		padding: 0 15px;
		background: #FFCC00;
		display: flex;
		align-items: center;
		border-radius: 0 8px 8px 0;
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;

	}


}

@media (max-width: 1170px) {
	.tools-box__list {
		overflow-x: scroll;
	}

	.header__banner {
		display: none;
	}

	.header__buy-tools-amd-cards {
		justify-content: space-between;
		padding: 0 20px;
		width: 100%;
	}
}

@media (max-width: 1000px) {

	.header__sign-in-text,
	.header__registration-text {
		display: none;
	}

	.header__sign-in-icon,
	.header__registration-icon {
		display: block;
	}
}

@media (max-width: 950px) {

	.header__menu {
		display: none;
	}

	.header__menu-hamburger {
		position: absolute;
		flex-direction: column;
		background: #ffd400;
		padding: 20px;
		height: 100vh;
		top: 0;
		right: 0;
		width: 300px;
		text-align: center;
		padding-top: 100px;
	}

	.header__hamburger-btn {
		display: block;
	}

	.header__menu-link {
		position: relative;
		font-size: 20px;
		width: fit-content;
		height: 20px;
		transition: color 0.2s ease-in-out;

		&::after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			height: 2px;
			border-radius: 8px;
			width: 0;
			background: #000;
			transition: width 0.3s ease 0s, left 0.3s ease 0s;
		}

		&:hover::after {
			width: 100%;
		}

	}


	.header__menu-link:not(:last-child) {
		margin: 0 0 15px 0;
	}

	.header__favorites-text,
	.header__basket-text,
	.header__comparison-text {
		display: none;
	}

	.header__buy-tools-amd-cards {
		justify-content: flex-start;
	}
}

@media (max-width: 768px) {
	.logo-box {
		width: 100px;
	}

	.logo {
		width: 100px;
	}
}

@media (max-width: 700px) {



	.header__card:nth-child(3) {
		display: none;
	}
}

@media (max-width: 620px) {

	.header__card:nth-child(2) {
		display: none;
	}
}

@media (max-width: 520px) {

	.header__card:nth-child(1) {
		display: none;
	}

	.header__buy-tools {
		margin-right: 0;
	}
}

@media (max-width: 425px) {
	.header__buy-tools-amd-cards {
		padding: 0;
	}

	.header__contancts {
		max-width: 180px;
		margin-left: auto;
	}

	.tel {
		font-size: 18px;
	}

	.tools-box__info a {
		display: none;
	}

	.tools-box__info {
		min-width: 40px;
	}
}

@media (max-width: 375px) {
	.header__info {
		display: block;
	}

	.header__contancts {
		margin-left: auto;
		margin-right: 0;
	}

	.header__buy-tools {
		display: flex;
	}

	.header__menu-and-authorization {
		margin-bottom: 5px;
	}

	.header__menu-hamburger {
		width: 100%;
	}

	.header__buy-tools-amd-cards {
		justify-content: flex-end;
	}

	.header__comparison-icon {
		margin-right: 0;
	}
}

//-------------------HEADER-STYLES-END------------------------

//-------------------GLOBAL-STYLES-END------------------------
