//------------------GLOBAL-STYLES------------------------
//------------------RESET-STYLES-------------------------
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	font-family: 'Ubuntu-Regular';
	line-height: 150%;
	color: #252525;
}



*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

strong {
	font-weight: bold;
}

input {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.no-overflow {
	overflow: hidden;
}

[class*="__container"] {
	max-width: 1024px;
	margin: 0 auto;
	background-color: var(--inner-bg);
}

//-------------------RESET-STYLES-END-------------------------
//-------------------GLOBAL-STYLES-END------------------------


#Theme {
	align-items: flex-start;
}

.preferences {
	background-color: var(--bg);

	&__top-box {
		padding: 32px;
		margin-bottom: 140px;
	}

	&__title-box {
		margin-bottom: 32px;
	}

	&__title {
		font-family: 'Ubuntu-Medium';
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 5px;
		color: var(--fs-color);
	}

	&__subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: var(--fs-color-lt);
	}

	&__form {
		max-width: 320px;
	}

	&__form-item {
		display: flex;
		justify-content: space-between;
	}

	&__input-personal-code-box {

		&::before,
		&::after {
			content: '';
			display: block;
			width: 4px;
			height: 1px;
			background: var(--fs-color-lt);
			position: relative;
			top: calc(50%);
			left: 30.5%;
		}

		&::after {
			left: 67.5%;
			top: calc(-50%);
		}
	}

	&__input-personal-code {
		cursor: pointer;
		padding: 8px;
		background: var(--dis-el-bg);
		border: 1px solid var(--dis-el-border);
		border-radius: 6px;
		font-size: 14px;
		line-height: 16px;
		color: var(--fs-color);
		width: 52px;
		height: 32px;

		&:nth-child(2) {
			margin: 0 16px;
		}
	}

	&__form>.preferences__form-item:not(:last-child) {
		margin-bottom: 24px;
	}

	&__form-item {

		.preferences__dropdown-btn,
		&>input,
		select,
		option {
			padding: 8px;
			width: 196px;
			height: 32px;
			background: var(--dis-el-bg);
			border: 1px solid var(--dis-el-border);
			border-radius: 6px;
			cursor: pointer;
			font-size: 14px;
			line-height: 16px;
			color: var(--fs-color);
		}

		.preferences__input-personal-code:focus,
		&>input:focus,
		select:focus {
			border: 1px solid var(--dis-el);
		}

		select {
			-webkit-appearance: none;
			appearance: none;
		}

		&>label {
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 16px;
			align-items: center;
			color: var(--fs-color-lt);
		}

		&-select {
			position: relative;
		}
	}

	&__form-arrow {
		width: 12px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 86%;
		z-index: 1;
	}

	&__form-arrow.active {
		transform: rotate(180deg);
		top: calc(50% - 10px);

		path {
			fill: var(--dis-el);
		}
	}

	&__dropdown {
		position: relative;
	}

	&__dropdown-btn {
		position: relative;
		text-align: left;
	}

	&__dropdown-btn.active {
		border: 1px solid var(--dis-el);
	}

	&__dropdown-list {
		display: none;
		position: absolute;
		background: var(--inner-bg);
		width: 196px;
		border-radius: 6px;
		top: 33px;
		left: 0;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		z-index: 2;
	}

	&__dropdown-list.active {
		display: block;
	}

	&__dropdown-item {
		border-radius: 0 !important;
		height: 32px;
		display: flex;
		align-items: center;
		padding: 8px;
		cursor: pointer;
		background: var(--white-gry);
		color: var(--fs-color-lt);

		&:first-child {
			border-radius: 6px 6px 0 0 !important;
		}

		&:last-child {
			border-radius: 0 0 6px 6px !important;
		}
	}



	&__dropdown-item:hover {
		border-radius: inherit;
	}

	&__dropdown-item:hover {
		background: var(--dis-el-bg);
	}

	&__radio-box {
		cursor: pointer;
		position: relative;
		padding-left: 20px;
	}

	&__form-item-inner-box {
		width: 196px;

		label {
			font-size: 14px;
			line-height: 24px;
			color: var(--fs-color-lt);
			cursor: pointer;
		}

		label::before {
			cursor: pointer;
			content: '';
			display: block;
			width: 18px;
			height: 18px;
			background-color: var(--inner-bg);
			border: 2px solid var(--fs-color-lt);
			border-radius: 50%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			z-index: 1;
			transition: opacity .1s linear;
		}

		label::after {
			cursor: pointer;
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			background-color: var(--dis-el);
			border-radius: 50%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 4px;
			z-index: 2;
			opacity: 0;
			transition: opacity .1s linear;
		}

		input {
			position: relative;
			-webkit-animation: none;
			appearance: none;
		}

		input:checked+label {
			color: var(--fs-color);
		}

		input:checked+label::before {
			border: 2px solid var(--dis-el);
		}

		input:checked+label::after {
			display: block;
			opacity: 1;
		}
	}

	&__form-btn-box {
		display: flex;
	}

	&__form-btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		padding: 4px 8px;
		font-family: 'Ubuntu-Medium';
		font-size: 14px;
		line-height: 24px;
		border-radius: 3px;

		&-apply {
			background: var(--dis-el);
			border-radius: 3px;
			margin-right: 15px;
			color: var(--white-blk);
			border: 1px solid var(--inner-bg);
			cursor: pointer;
		}

		&-apply:active {
			color: var(--bg);
			border: 1px solid var(--dis-el-lt);
		}

		&-apply:hover {
			background: var(--dis-el-bold);
			color: var(--inner-bg);
		}

		&-cancle {
			color: var(--dis-el-bold);
			border: 1px solid var(--inner-bg);
			background: var(--white-gry);
			cursor: pointer;
		}

		&-cancle:active {
			border: 1px solid var(--dis-el);
		}

		&-cancle:hover {
			background: var(--while-gry-b);
		}
	}

	&__bottom-box {
		height: 255px;
		background: url('../images/preferences_bg.png') no-repeat center;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 25px;
	}

	&__copyrate {
		font-family: 'Montserrat-Regular';
		font-size: 14px;
		line-height: 20px;
		color: var(--fs-color-lt);

		a {
			line-height: 17px;
			color: var(--dis-el-bold);
			margin: 0 4px;
		}
	}
}