//------------------GLOBAL-STYLES------------------------
//------------------RESET-STYLES-------------------------
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	font-family: 'Ubuntu-Regular';
	line-height: 150%;
	color: #252525;
}



*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

strong {
	font-weight: bold;
}

input {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.no-overflow {
	overflow: hidden;
}

[class*="__container"] {
	max-width: 1170px;
	margin: 0 auto;
}

//-------------------RESET-STYLES-END-------------------------
//-------------------GLOBAL-STYLES-END------------------------